* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: fit-content;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    //form
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 9px 20px 0px #000000a3;
    border-radius: 22px;
    h1 {
      //title h1
      width: 100%;
      background: linear-gradient(to right, #e233ff, #ff6b00);
      color: #fff;
      text-align: center;
      border-radius: 22px;
    }
    // input
    input {
      width: 80%;
      height: 40px;
      margin: 10px;
      outline: none;
      border: none;
      background: #dbdbdb;
      text-align: center;
      font-size: larges;
      border-radius: 120px;
      box-shadow: 3px 5px 7px 0px #000000a3;
    }
    button {
      border: none;
      cursor: pointer;
      margin: 140px 10px 10px 10px;
      background: linear-gradient(to right, #e233ff, #ff6b00);
      font-size: 14px;
      width: 40%;
      height: 40px;
    }
    button:hover {
      color: #fff;

      background: linear-gradient(to right, #e033ffd0, #833c09);
    }
    //end form
  }
}
// end style container

// style moblie

@media screen and (max-width: 700px) {
  .container {
    // container
    width: fit-content;
  }
}
